.filter .popup {
    display: none;
}

.filter:hover .popup {
    display: flex;
    position: relative;
}

.popup .list {
    position: absolute;
    z-index: 5;
    top: -16px;
    left: -100px;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    width: 148px;
    height: 96px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(127, 143, 164, 0.2);
    background-color: #ffffff;
}

.listItem {
    display: flex;
    flex: 1 1;
    padding-left: 10px;
    align-items: center;
}

.listItem:hover {
    background-color: #f3f8ff;
}